{
  "env": {
    "node": true,
    "es2022": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "eslint-config-prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/array-type": "off",
    "@typescript-eslint/consistent-type-definitions": "off",
    "prettier/prettier": "error",
    //    "prettier/prettier": [
    //      "error",
    //      {
    //        "endOfLine": "auto",
    //        "singleQuote": true,
    //        "semi": false,
    //        "tabWidth": 2,
    //        "trailingComma": "none",
    //        "arrowParens": "avoid"
    //      }
    //    ],
    //    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-imports": "off",
    "unused-imports/no-unused-vars": "warn"
  },
  "plugins": ["@typescript-eslint", "unused-imports", "prettier"],
  "settings": {
    "importOrder": [
      "<THIRD_PARTY_MODULES>",
      "^@types$",
      "^@/types/(.*)$",
      "^@/config/(.*)$",
      "^@/lib/(.*)$",
      "^@/app/(.*)$",
      "",
      "^[./]"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "importOrderBuiltinModulesToTop": true,
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "importOrderMergeDuplicateImports": true,
    "importOrderCombineTypeAndValueImports": true,
    "useTabs": false
  },
  "ignorePatterns": [
    "dist",
    "node_modules",
    "tsconfig.tsbuildinfo",
    "rename-to-mjs*.js",
    "*.d.ts",
    "prettier.config.d.ts"
  ],
  "root": true
}
